<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Module</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">

    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/litera/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <!-- Styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
    <link rel="stylesheet" href="/assets/css/estyle.css">
    <!-- Or for RTL support -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.rtl.min.css" />

</head>
<body>

<div class="container">

  <h2> Cliente:</h2>
  <form class="row g-3 needs-validation" novalidate>
      <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Filtrar por Nombre</label>
          <input type="text" class="form-control" id="filterNombre" value="" required>         
        </div>

      <div class="col-md-4">
        <label for="validationCustom02" class="form-label">Filtrar por ciudad</label>
        <input type="text" class="form-control" id="filterCiudad" value="" required>
        
      </div>
     
    
     
    
      <div class="col-20">
        <button id="submitBtn" class="btn btn-primary" onclick="filters()" type="button">Aplicar Filtro</button>
        <button id="submitBtn" class="btn btn-primary" onclick="Limpiar()" type="button">Limpiar Filtro</button>
      </div> 
    
      </form>
</div>  
<br><br><br>
    <div class="container">

    
    <!-- Modal -->
    <legend>Listado  Clientes:</legend>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content" style="width: 180%; height: 180%; ">
              <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Record</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="clearData();"> </button>
                </div>
                <div class="modal-body" >
                    <div class="container">
                        <div id="inputdata">
                            <form class="row g-3 needs-validation" novalidate*class="row g-3 needs-validation" novalidate>
                                <fieldset class="formulario">
                                    <legend>Actulizar </legend>
                                      
<div class="container">
    <h2>Agregar Nuevo Cliente</h2>
    <form class="row g-3 needs-validation" novalidate>
        <div class="col-md-12">
            <label for="validationCustom01" class="form-label">Tipo de identificación</label>
            <select class="form-control" id="tipoIndentificacion" name="tipoIndentificacion"></select>
            <div class="invalid-feedback">
              Por favor, ingresa un tipo de identificación.
            </div>
            <div class="valid-feedback">
              ¡Se ve bien!
            </div>
          </div>
  
        <div class="col-md-12">
          <label for="validationCustom02" class="form-label">Identificación</label>
          <input type="text" hidden id="id">
          <input type="text" class="form-control" id="indentificacion" value="" required>
          <div class="invalid-feedback">
            Por favor, ingresa su indentificacion
          </div>
          <div class="valid-feedback">
            ¡Se ve bien!
          </div>
        </div>
        <div class="col-md-12">
          <label for="validationCustomUsername" class="form-label">Nombre:</label>
          <div class="input-group has-validation">
            <input type="text" class="form-control" id="nombreCliente" aria-describedby="inputGroupPrepend" required>
            <div class="invalid-feedback">
                Por favor, ingresa su nombre.
              </div>
              <div class="valid-feedback">
                ¡Se ve bien!
              </div>
          </div>
        </div>
        <div class="col-md-12">
            <label for="validationCustom01" class="form-label">Apellido:</label>
            <input type="text" class="form-control" id="apellidoCliente" value="" required>
            <div class="invalid-feedback">
                Por favor, ingresa su apellido.
              </div>
            <div class="valid-feedback">
              ¡Se ve bien!
            </div>
          </div>

          <div class="col-md-12">
            <label for="validationCustom02" class="form-label">Teléfono:</label>
            <input type="text" class="form-control" id="telefono" value="" required>
            <div class="invalid-feedback">
                Por favor, ingresa su telefono.
              </div>
            <div class="valid-feedback">
              ¡Se ve bien!
            </div>
          </div>
          <div class="col-md-12">
            <label for="validationCustomUsername" class="form-label">Dirección:</label>
            <div class="input-group has-validation">
              <input type="text" class="form-control" id="direccion" aria-describedby="inputGroupPrepend" required>
              <div class="invalid-feedback">
                Por favor, ingresa un dirección.
              </div>
              <div class="valid-feedback">
                ¡Se ve bien!
              </div>
            </div>
          </div>




        <div class="col-md-6">
          <label for="validationCustom03" class="form-label">Ciudad:</label>
          <input type="text" class="form-control" id="ciudad" required>
          <div class="invalid-feedback">
            Por favor, ingresa una ciudad válida.
          </div>
          <div class="valid-feedback">
            ¡Se ve bien!
          </div>
        </div>
        <div class="col-md-6">
            <label for="validationCustom03" class="form-label">Estado:</label>
            <select class="form-select" id="estado">
                <option selected>--select--</option>
                <option value="true">asset</option>
                <option value="false">idle</option>
            </select>
            
            <div class="invalid-feedback">
              Por favor, ingresa el estado del cliente.
            </div>
            <div class="valid-feedback">
                ¡Se ve bien!
              </div>
          </div>
        
      </form>
    </div>
                                   
                                </fieldset>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" name="btnCloced" class="btn btn-secondary" data-bs-dismiss="modal" onclick="clearData()">Close</button>
                                <br>
                                <button name="btnAgregar" class="btn btn-primary" type="button" onclick="save()" data-bs-dismiss="modal">Agregar</button>
                            </div>
                        </form>
                    </div>
          </div>
        </div>
      </div>
      
      <table class="table table-striped">
        <thead>
            <tr class="table-dark">
                <th scope="col">ID Cliente</th>
                <th scope="col">Tipo Indentificación</th>
                <th scope="col">Indentificación</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Dirección</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Estado</th>

                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody class="table-group-divider"  id="resultData">
            
        </tbody>
    </table>
      
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../js/cliente/Cliente.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.min.js"></script>
    <script src="/js/Features/select_multiple.js"></script>
    <script src="../../js/Security/module.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
            loadData();
    
            </script>

            
<script>

    $(document).ready(function() {
    const documentSelect = $('#tipoIndentificacion');
  
    $.ajax({
        url: 'http://localhost:8000/ShoeStore/v1/api/enum/type-document',
        type: 'GET',
        dataType: 'json',
        success: function(data) {
            // Limpiar el select antes de agregar opciones nuevas
            documentSelect.empty();
            
            // Agregar opciones al select
            $.each(data, function(index, option) {
                documentSelect.append($('<option></option>').attr('value', option).text(option));
            });
        },
        error: function(jqXHR, textStatus, errorThrown) {
            console.error('Error al obtener datos desde el endpoint:', errorThrown);
        }
    });
  });
  var numeroInput = document.getElementById('telefono');
  
  // Agregar un evento para capturar la entrada del teclado
  numeroInput.addEventListener('input', function(event) {
    var currentValue = event.target.value;
    var cleanedValue = currentValue.replace(/\D/g, '');
    var limitedValue = cleanedValue.slice(0, 10);
    
  
    event.target.value = limitedValue;
  });
  
  var indentificacionInput = document.getElementById('indentificacion');
  
  // Agregar un evento para capturar la entrada del teclado
  indentificacionInput.addEventListener('input', function(event) {
    var currentValue = event.target.value;
    var cleanedValue = currentValue.replace(/\D/g, '');
    var limitedValue = cleanedValue.slice(0, 10);
    
  
    event.target.value = limitedValue;
  });
  </script>
</body>
</body>
</html>